{
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 120,
    "overrides": [{
        "files" : [".travis.yml, *.yml"],
        "options": {
            "tabWidth": 2,
            "parser": "yaml",
            "useTabs": false
        }
    },
    {
        "files": ["*.json"],
        "options": {
            "tabWidth": 2,
            "parser": "json",
            "useTabs": false
        }
    }]
}